<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="http://bestcms/admin/core/views/tpls/styles/style.css">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
</div>
<div class="clear"></div>
</div>
<div id="container">
    <div class="tabs">
        <input id="tab1" type="radio" name="tabs" checked>
        <label for="tab1" title="Wordpress">Config</label>

        <input id="tab2" type="radio" name="tabs">
        <label for="tab2" title="Windows">Add article</label>

        <input id="tab3" type="radio" name="tabs">
        <label for="tab3" title="HTML5">Add contact</label>

        <input id="tab4" type="radio" name="tabs">
        <label for="tab4" title="CSS3">Add image</label>

        <section id="content1">
            <form action="" method="get">
          <table class="tabel">
              <tr class="row1">
                  <td class="id1">Count of articles on page</td>
                  <td class="id2"><input name="count_articles" type="number" value="5" min="1" max="8"></td>
              </tr>
              <tr class="row2">
                  <td class="id1">Count of symbol on description</td>
                  <td class="id2"><input name="count_symbol" type="number" value="500" min="400" max="1000" step="100"></td>
              </tr>
              <tr class="row3">
                  <td class="id1">Site name</td>
                  <td class="id2"><input name="site_name" type="text"></td>
              </tr>
              <tr class="row4">
                  <td class="id1">Copyrate</td>
                  <td class="id2"><input name="site_copyrate" type="text"></td>
              </tr>
              <tr class="row5">
                  <td class="id1" colspan="2"><input type="submit" value="save"></td>
              </tr>
          </table>
            </form>
        </section>
        <section id="content2">

        </section>
        <section id="content3">
        </section>
        <section id="content4">
        </section>
    </div>
</div>
</body>
</html>