<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="http://bestcms/front_site/core/views/tpls/styles/global_post_style.css"> <!-- динамически -->
    <title>Title</title>  <!-- динамически -->

</head>
<body>
<nav class="top_nav">
    <a href="#">1</a>
    <a href="#">2</a>
    <a href="#" class="current_page">3</a>
</nav>
<div class="content">
    <div class="f_box"></div>
    <div class="article">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit, mollitia, nulla. Adipisci ipsa molestias quasi quo similique! Assumenda deserunt ipsum iste rerum voluptate. Assumenda cupiditate distinctio earum eligendi, id illo impedit ipsum, iste nulla optio quia quod repudiandae. Amet aut, corporis dolore eum excepturi facilis natus sunt vero! Adipisci, voluptatibus?</p>
        <!-- динамически -->
        <header><!-- динамически --></header>
        <img src="" alt=""></div>
    <p></p>
    <div class="article">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit, mollitia, nulla. Adipisci ipsa molestias quasi quo similique! Assumenda deserunt ipsum iste rerum voluptate. Assumenda cupiditate distinctio earum eligendi, id illo impedit ipsum, iste nulla optio quia quod repudiandae. Amet aut, corporis dolore eum excepturi facilis natus sunt vero! Adipisci, voluptatibus?</p>

        <header></header>
        <img src="" alt=""></div>
    <p></p>
</div>
</div>
<footer>
<p>Lorem ipsum dolor sit amet, consectetur.</p>
</footer>
</body>
</html>