@font-face {
    font-family: 'Andada SC';
    src: local('Andada SC'), local('AndadaSC-Regular'), url('fonts/andadasc.woff2') format('woff2'), url('fonts/andadasc.woff') format('woff'), url('fonts/andadasc.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Andada SC';
    src: local('Andada SC Italic'), local('AndadaSC-Italic'), url('fonts/andadascitalic.woff2') format('woff2'), url('fonts/andadascitalic.woff') format('woff'), url('fonts/andadascitalic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Andada SC';
    src: local('Andada SC Bold'), local('AndadaSC-Bold'), url('fonts/andadascbold.woff2') format('woff2'), url('fonts/andadascbold.woff') format('woff'), url('fonts/andadascbold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Andada SC';
    src: local('Andada SC Bold Italic'), local('AndadaSC-BoldItalic'), url('fonts/andadascbolditalic.woff2') format('woff2'), url('fonts/andadascbolditalic.woff') format('woff'), url('fonts/andadascbolditalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}

html {
    padding: 0;
    margin: 0;
    height: 100%;
    background: url("http://bestcms/front_site/core/views/tpls/images/bg.png");
}

body {
    max-width: 1300px;
    min-width: 900px;
    width: 80%;
    min-height: 800px;
    height: 100%;
    border: dimgrey 1px solid;
    margin: 0 auto;
    background: rgba(202, 199, 199, 0.35);
}

.content{
    background: rgba(123,110,110,0.44);
    margin: 20px auto;
    min-height: 500px;
    height: 75%;
    width: 85%;
    max-height: 900px;
    border: dimgrey 1px solid;
}
nav{
    background: rgba(123,110,110,0.44);
    width: 85%;
    margin: 20px auto;
    height:70px;
    border: dimgrey 1px solid;
}
footer{
    background: rgba(123,110,110,0.44);
    width: 85%;
    margin: 20px auto;
    height:7%;
    border: dimgrey 1px solid;
}
nav a{
    margin-top: 20px;
    text-align: center;
    display: inline-block;
    width: 33%;
}
.f_box{
    background: rgba(247, 247, 247, 0.41);
    width: 85%;
    margin: 20px auto;
    height:70px;
    border: dimgrey 1px solid;
}
.article{
    background: rgba(247, 247, 247, 0.41);
    width: 85%;
    margin: 20px auto;
    height: 35%;
    border: dimgrey 1px solid;
}
.article p{
    margin:20px auto;
    width: 90%;
}
footer p{
    text-align: center;
}

