@font-face {
    font-family: 'Andada SC';
    src: local('Andada SC'), local('AndadaSC-Regular'), url('fonts/andadasc.woff2') format('woff2'), url('fonts/andadasc.woff') format('woff'), url('fonts/andadasc.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Andada SC';
    src: local('Andada SC Italic'), local('AndadaSC-Italic'), url('fonts/andadascitalic.woff2') format('woff2'), url('fonts/andadascitalic.woff') format('woff'), url('fonts/andadascitalic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Andada SC';
    src: local('Andada SC Bold'), local('AndadaSC-Bold'), url('fonts/andadascbold.woff2') format('woff2'), url('fonts/andadascbold.woff') format('woff'), url('fonts/andadascbold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Andada SC';
    src: local('Andada SC Bold Italic'), local('AndadaSC-BoldItalic'), url('fonts/andadascbolditalic.woff2') format('woff2'), url('fonts/andadascbolditalic.woff') format('woff'), url('fonts/andadascbolditalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}

* {
    font-family: "Andada SC";
    color: #614A4A;
}

html {
    padding: 0;
    margin: 0;
    height: 100%;
    background: url("http://bestcms/front_site/core/views/tpls/images/bg.png");
}

body {
    max-width: 1300px;
    min-width: 900px;
    width: 80%;
    min-height: 800px;

    border: dimgrey 1px solid;
    margin: 0 auto;
    background: rgba(202, 199, 199, 0.35);
}

.content {
    background: rgba(123, 110, 110, 0.44);
    margin: 20px auto;
    min-height: 800px;
    width: 85%;
    border: dimgrey 1px solid;
    padding-bottom: 20px;
}

nav {
    background: rgba(123, 110, 110, 0.44);
    width: 85%;
    margin: 20px auto;
    height: 70px;
    border: dimgrey 1px solid;
}

footer {
    background: rgba(123, 110, 110, 0.44);
    width: 85%;
    margin: 20px auto;
    height: 7%;
    border: dimgrey 1px solid;
}

nav a {
    margin-top: 20px;
    text-align: center;
    display: inline-block;
    width: 33%;
    font-size: 20pt;
    text-decoration: none;
    color: #614A4A;
    font-weight: 400;
}

.f_box {
    background: rgba(247, 247, 247, 0.41);
    width: 85%;
    margin: 20px auto;
    height: 70px;
    border: dimgrey 1px solid;
}

.article {
    background: rgba(247, 247, 247, 0.41);
    width: 85%;
    margin: 20px auto;
    border: dimgrey 1px solid;
    padding-bottom: 30px;
}

.time {
    float: right;
    font-size: 11pt;
    color: #82867F;
    margin-right: 15px;
    margin-top: 8px;
}

.time b {
    color: #67675B;
}

.user b {
    color: #67675B;
}

.user {
    float: left;
    font-size: 11pt;
    color: #82867F;
    margin-left: 15px;
    margin-top: 8px;
}

.hr1 {
    margin-top: 32px;
}

.title_page header {
    text-align: center;
    margin-bottom: 13px;
    font-size: 18pt;
    font-weight: 700;
}

.full_text {
    text-indent: 25px;
    margin-left: 20px;
    margin-right: 20px;
    color: #584747;
    min-height: 180px;
}

.red_more {
    float: left;
    font-size: 11pt;
    color: #82867F;
    margin-left: 15px;
    margin-top: 8px;
}

.red_more a {
    text-decoration: none;
}

.red_more a:hover {
    text-decoration: none;
    color: #C13A3A;
}

.date {
    float: right;
    font-size: 11pt;
    color: #82867F;
    margin-right: 15px;
    margin-top: 8px;
}

footer p {
    text-align: center;
}

.pagination {
    max-width: 105px;
    margin: 0 auto;
}

.pagination a {
    text-decoration: none;
    font-size: 13pt;
    color: #000000;
}

.pagination b {
    font-size: 15pt;
    color: #E20606;
}

.date b {
    color: #67675B;
}

.select_cat{
    margin-left: 20px;
    margin-top: 20px;
    font-size: 15pt;
}
.submit_cat{
    font-size: 15pt;
    margin-left: 8px;
}

