
html, body {
    height: 100%;
}

body {
    font: 14px/1 "Open Sans", sans-serif;
    color: #555;
    background: #fafafa;
}

/*стили фиксированного меню*/
.top-nav {
    background: #555555;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.4);
    left: 0;
    opacity: 0.95;
    padding: 8px;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 9999;
}

.topnav-wrapper {
    margin: 0 auto;
    max-width: 980px;
}

.top-logo {
    color: #ddd;
    font: bold 16px/20px "Crete Round", serif;
    padding-left: 10px;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.5);
}

.top-logo a {
    color: #B8B8B8;
    text-decoration: none;
}

.top-logo a:hover {
    color: #ddd;
}

.topnav-right {
    float: right;
}

.right-menu {
    margin: 0;
    overflow: hidden;
}

.right-menu li {
    float: left;
    list-style-type: none;
    margin: 0;
}

.right-menu li a {
    color: #B8B8B8;
    display: block;
    padding: 0.05em 0.75em;
    text-decoration: none;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
}

.right-menu li a:hover {
    color: #fff;
    text-shadow: none;
}

.right-menu li span {
    font-size: 16px;
    line-height: 1.2;
}

#container {
    max-width: 980px;
    margin: 0 auto;
    padding: 25px 10px 0;
}

h1 {
    padding: 50px 0;
    font-weight: 400;
    text-align: center;
}

p {
    margin: 0 0 5px;
    line-height: 1.5;
}

/* Конец стилей демо-страницы */

/* Базовый контейнер табов */
.tabs {
    min-width: 320px;
    max-width: 800px;
    padding: 0px;
    margin: 0 auto;

}

/* Стили секций с содержанием */
section {
    min-height: 600px;
    display: none;
    padding: 15px;
    background: #fff;
    border: 1px solid #ddd;
}

.tabs input {
    display: none;
}

/* Стили вкладок (табов) */
.tabs label {
    display: inline-block;
    margin: 0 39px -1px;
    padding: 15px 25px;
    font-weight: 600;
    text-align: center;
    color: #aaa;
    border: 1px solid #ddd;
    background: #f1f1f1;
    border-radius: 3px 3px 0 0;
}

/* Шрифт-иконки от Font Awesome в формате Unicode */

/* изменения стиля заголовков вкладок при наведении */
.tabs label:hover {
    color: #888;
    cursor: pointer;
}

/* стили для активной вкладки */
.tabs input:checked + label {
    color: #555;
    border: 1px solid #ddd;
    border-top: 1px solid #009933;
    border-bottom: 1px solid #fff;
    background: #fff;
}

/* активация секций с помощью переключателя :checked */
#tab1:checked ~ #content1,
#tab2:checked ~ #content2,
#tab3:checked ~ #content3,
#tab4:checked ~ #content4 {
    display: block;
}

/* медиа запросы для различных типов носителей */
@media screen and (max-width: 680px) {
    .tabs label {
        font-size: 0;
    }

    .tabs label:before {
        margin: 0;
        font-size: 18px;
    }
}

@media screen and (max-width: 400px) {
    .tabs label {
        padding: 15px;
    }
}

.input {
    display: block !important;
}

html, body {
    height: 100%;
}

body {
    font: 14px/1 "Open Sans", sans-serif;
    color: #555;
    background: #fafafa;
}

/*стили фиксированного меню*/
.top-nav {
    background: #555555;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.4);
    left: 0;
    opacity: 0.95;
    padding: 8px;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 9999;
}

.topnav-wrapper {
    margin: 0 auto;
    max-width: 980px;
}

.top-logo {
    color: #ddd;
    font: bold 16px/20px "Crete Round", serif;
    padding-left: 10px;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.5);
}

.top-logo a {
    color: #B8B8B8;
    text-decoration: none;
}

.top-logo a:hover {
    color: #ddd;
}

.topnav-right {
    float: right;
}

.right-menu {
    margin: 0;
    overflow: hidden;
}

.right-menu li {
    float: left;
    list-style-type: none;
    margin: 0;
}

.right-menu li a {
    color: #B8B8B8;
    display: block;
    padding: 0.05em 0.75em;
    text-decoration: none;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
}

.right-menu li a:hover {
    color: #fff;
    text-shadow: none;
}

.right-menu li span {
    font-size: 16px;
    line-height: 1.2;
}

#container {
    max-width: 980px;
    margin: 0 auto;
    padding: 25px 10px 0;
}

h1 {
    padding: 50px 0;
    font-weight: 400;
    text-align: center;
}

p {
    margin: 0 0 5px;
    line-height: 1.5;
}

/* Конец стилей демо-страницы */

/* Базовый контейнер табов */
.tabs {
    min-width: 320px;
    max-width: 800px;
    padding: 0px;
    margin: 0 auto;

}

/* Стили секций с содержанием */
section {
    min-height: 200px;
    display: none;
    padding: 15px;
    background: #fff;
    border: 1px solid #ddd;
}

.tabs input {
    display: none;
}

/* Стили вкладок (табов) */
.tabs label {
    display: inline-block;
    margin: 0 39px -1px;
    padding: 15px 25px;
    font-weight: 600;
    text-align: center;
    color: #aaa;
    border: 1px solid #ddd;
    background: #f1f1f1;
    border-radius: 3px 3px 0 0;
}

/* Шрифт-иконки от Font Awesome в формате Unicode */

/* изменения стиля заголовков вкладок при наведении */
.tabs label:hover {
    color: #888;
    cursor: pointer;
}

/* стили для активной вкладки */
.tabs input:checked + label {
    color: #555;
    border: 1px solid #ddd;
    border-top: 1px solid #009933;
    border-bottom: 1px solid #fff;
    background: #fff;
}

/* активация секций с помощью переключателя :checked */
#tab1:checked ~ #content1,
#tab2:checked ~ #content2,
#tab3:checked ~ #content3,
#tab4:checked ~ #content4 {
    display: block;
}

/* медиа запросы для различных типов носителей */
@media screen and (max-width: 680px) {
    .tabs label {
        font-size: 0;
    }

    .tabs label:before {
        margin: 0;
        font-size: 18px;
    }
}

@media screen and (max-width: 400px) {
    .tabs label {
        padding: 15px;
    }
}

table {
    width: 500px;
    margin: 20px auto;
    min-height: 250px;
}

td {
    text-align: center;
    width: 50%;
    border: 1px solid;
}

form input {
    display: block !important;
}

input[type="number"] {
    width: 95%;
    text-align: center;
    margin: 0 auto;
}

input[type="text"] {
    width: 95%;
    margin: 0 auto;
}

.title_admin {
    width: 80%;
    margin: 0 auto;
}

.fulltext_admin {
    width: 80%;
    margin: 20px auto;
}
textarea {
    width: 100%;
    resize: none;
}

.description_admin {
    width: 80%;
    margin: 20px auto;
}

.user_admin {
    width: 80%;
    margin: 20px auto;
}
#dfg87{
    height:25px;
    font-size: 17pt;
    text-align: center;

}
textarea::-webkit-input-placeholder {
    text-align: center;
    font-size: 17pt;
}

.descrinption_admin {
    width: 80%;
    margin: 0 auto;
}

textarea#dfg88, textarea#dfg89, #dfg87, #dfg90, #dfg92  {
    border: 2px solid #C7C2C2;
    background: #EFEFEF;
}
#dfg90{
    height:25px;
    font-size: 17pt;
    text-align: center;
}
.set1, .set2{
    width: 50%;
    display: block;
}
.set1{
    float: left;
}
.set2{
    float: right;
}
.user_admin{
    margin-bottom: 50px;
}
#dfg91 {
    height: 30px;
    border: 2px solid #C7C2C2;
    font-size: 16pt;
    background: #EFEFEF;
    color: darkgrey;
    width: 100%;
}
.add_art {
    margin: 60px auto 0px;
    width: 20%;
}
#dfg92{
    width: 100%;
    font-size: 16pt;
    color: darkgrey;
}
